In [11]:
# Define a function named is_two. 
# It should accept one input and return True if the passed input is either the number or the string 2, 
# False otherwise.
def is_two(input_value):
    if input_value == 2 or input_value.lower() == 'two' or input_value == '2':
        return True
    else:
        return False

In [13]:
is_two('3')

False

In [48]:
# Define a function named is_vowel. It should return True if the passed string is a vowel, False otherwise.

In [32]:
vowels = ['a', 'e', 'i', 'o', 'u', 'y']
def is_vowel(input_value):
    if type(input_value) == str: # if the input is a string
        if len(input_value) == 1: # if it's one character long
            return input_value.lower() in vowels # return whether or not the input is in the vowel list
        else:
            return False
    else:
        return False

In [33]:
is_vowel('three')

False

In [ ]:
# Define a function named is_consonant. It should return True if the passed string is a consonant, False otherwise. 
# Use your is_vowel function to accomplish this.

In [34]:
def is_consonant(input_value):
    if type(input_value) == str:
        if len(input_value) == 1:
            return not is_vowel(input_value)
        else:
            return False
    else:
        return False

In [37]:
is_consonant('e')

False

In [59]:
# Define a function that accepts a string that is a word. 
# The function should capitalize the first letter of the word if the word starts with a consonant.

In [28]:
def word_function(input_value):
    if type(input_value) == str:
        if is_consonant(input_value[0]):
            return input_value.title()
        else:
            return input_value
    else:
        return input_value

In [29]:
word_function('buns')

'Buns'

In [53]:
# Define a function named calculate_tip. 
# It should accept a tip percentage (a number between 0 and 1) 
# and the bill total, and return the amount to tip.

In [46]:
def calculate_tip(bill,tip=.2):
    total = round(bill * tip,2)
    print(f'{(tip*100)}% tip is : ${round(bill * tip,2)}')
    return total

In [47]:
calculate_tip(134,.20)

20.0% tip is : $ 26.8

26.8

In [3]:
# Define a function named apply_discount. 
# It should accept a original price, and a discount percentage, 
# and return the price after the discount is applied.

In [18]:
def apply_discount(price,discount_percentage):
    discount_percentage = discount_percentage / 100
    discount_amt = discount_percentage * price
    return '$' + str(price - discount_amt)

In [19]:
apply_discount(100,10)

'$90.0'

In [21]:
# 7
# Define a function named handle_commas. 
# It should accept a string that is a number that contains commas in it as input, 
# and return a number as output.

In [50]:
def handle_commas(inputs = 'input'):
    return inputs

In [51]:
handle_commas('100,000')

'100,000'

In [35]:
# 8
# Define a function named get_letter_grade. 
# It should accept a number and return the letter grade associated with that number (A-F).

In [52]:
def get_letter_grade(grade):
    if type(grade) == int:
        if grade > 87:
            return("Grade: A")
        elif grade < 88 and grade > 79:
            return("Grade: B")
        elif grade < 80 and grade > 66:
            return("Grade: C")
        elif grade < 67 and grade > 59:
            return("Grade: D")
        else:
            return("Grade: F")
    else:
        return False

In [53]:
get_letter_grade(88)

'Grade: A'

In [38]:
# 9
# Define a function named remove_vowels that 
# accepts a string and returns a string with all the vowels removed.

In [1]:
def remove_vowels(inputs):
    new_input = inputs
    vowels = ('a', 'e', 'i', 'o', 'u')
    for x in inputs.lower():
        if x in vowels:
            new_input = new_input.replace(x,'')
    return new_input

In [2]:
remove_vowels('aloha')

'lh'

In [3]:
# Define a function named normalize_name. 
# It should accept a string and return a valid python identifier, that is:
# - anything that is not a valid python identifier should be removed
# - leading and trailing whitespace should be removed
# - everything should be lowercase
# - spaces should be replaced with underscores
# - for example:
#     Name will become name
#     First Name will become first_name
#     % Completed will become completed

In [8]:
new_name = ''
def normalize_name(name):
    
    for x in name:
        if name[0] == ' ':
            name = name[1:]
        
        elif name[-1] == ' ':
            name = name[:-1]
        return name

In [1]:
def normalize_name(somestr):
    # empty string to concatenate to
    new_string = ''
    
    # strip whitespace first else problems and lower case string as asked
    somestr = somestr.strip().lower()
    
    

    # loop over passed string and add letters and spaces but not numbers
    for char in somestr:
        if char.isalpha() or char == ' ':

                 new_string+= char # now need to strip any white space characters again in return if num remove
    
    
    return new_string.strip().replace(' ', '_')

In [2]:
normalize_name(' 33 4545 444$ completed test 1 ')

'completed_test'

In [54]:
# Write a function named cumulative_sum that accepts a list of numbers and 
# returns a list that is the cumulative sum of the numbers in the list.
# cumulative_sum([1, 1, 1]) returns [1, 2, 3]
# cumulative_sum([1, 2, 3, 4]) returns [1, 3, 6, 10]

In [3]:
def cumulative_sum(oldlist):
    
    newlist=[]
    
    #intialize a variable to store the cumulative sum
    c_sum = 0
    
    for num in oldlist:
        #add the current number to the cumulative sum
        c_sum += num
        #print(f"cumulative: {c_sum}")
        #append the cumulative sum to the newlist
        newlist.append(c_sum)
    print(f'oldlist: {oldlist}')
    print(f"newlist: {newlist}")

In [ ]:
https://gist.github.com/zgulde/ec8ed80ad8216905cda83d5645c60886

In [55]:
# Create a function named twelveto24. 
# It should accept a string in the format 10:45am or 4:30pm and 
# return a string that is the representation of the time in a 24-hour format. 
# Bonus write a function that does the opposite.

In [4]:
def twelveto24(time):
    
    # separate hours and minutes
    time = time.split(':') # split at colon as list
    hour = time[0] # store hrs in variables
    mins = time[1].split(' ') # store minutes in list
    minutes = mins[0] # store min in var
    timeofday = mins[1] # store time of day in var
    
    if timeofday.lower() == 'pm':
        
        hour = 12 + int(hour)

        return str(hour) + ':' + str(minutes) + timeofday
    else:
      
        return hour + ':' + minutes + timeofday

In [5]:
def twentyfourto12(time):
    # separate hours and minutes
    time = time.split(':') # split at colon as list
    hour = time[0] # store hrs in variables
    mins = time[1].split(' ') # store minutes in list
    minutes = mins[0] # store min in var
    timeofday = mins[1] # store time of day in var
    
    if timeofday.lower() == 'pm':
        
        extra_hrs = int(hour) - 12
        hour = extra_hrs

        
        return str(hour) + ':' + str(minutes) + timeofday
    else:
      
        return hour + ':' + minutes + timeofday

In [56]:
# Create a function named col_index. 
# It should accept a spreadsheet column name, and return the index number of the column.